@media screen and (max-width: 640px) {
    .otp_Fields {
        display: grid !important;
        grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
        gap: 1rem;
        place-items: center;
        width: 100%;
    }
}